.About-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.Information-container {
    width: 50%;
    margin-right: 10%;

}

.Avatar-container {
    width: 40%;
}

.avatar-image {
    max-height: 60vh;
    /* Set maximum height to 50% of the viewport height */
    width: auto;
    /* Allow the width to adjust proportionally */
    max-width: 100%;
}

h1 {
    font-size: 8vh;

}

.detail-element {
    font-size: 3vh;
    /* Set font size as a percentage of the viewport height */
    margin: 5px 0;
}

.btn-container {
    margin-top: 3vh;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    color: white;
    background-color: #E95D35;
    border: none;
    padding: 2vh;
    border-radius: 10px;
}

a {
    color: #E95D35;
}